html {
    background-color:white;
    height: 100%;
    max-height: 100%;
    overflow:hidden;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: white;
    font-family: sans-serif;
    height:93%;
    max-height: 100%;
}

header {
    color: rgb(0, 132, 255);
    height: 60px;
    width: 100%;
    min-width: 820px;
    display: block;
    border-bottom: 1px ridge rgb(229, 229, 229);
}

.container {
    height: 100%;
    max-height:100%;
    display: flex;
}

.container h1 {
    margin-top: 34px;
    margin-bottom: 0px;
    font-size: 30px;
}

article {
    background-color: white;
    height: 100%;
    max-height: 100%;
}

aside {
    width: 27%;
    min-width: 25%;
    background-color: rgb(245,245,245);
    height: 100%;
    max-height: 100%;
}

.header-left-ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 19px 0px 19px 40px;
}

.header-left-ul li {
    float: left;
    padding-right: 19px;
}

header li {
    cursor: pointer;
}

.header-right-ul {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 19px 0px 19px 40px;
}

.header-right-ul li {
    float: left;
    padding-right: 19px;
}

.container .header-left-ul {
    color: rgb(0, 132, 255);
    font-size: 23px;
    margin-left: 0px;
}

.header-article {
    display: flex;
    min-width: 820px;
    border-bottom: 1px ridge rgb(229, 229, 229);
}

.dashboards {
    margin-left:40px;
}

.dashboards .header-left-ul{
    margin-bottom: 0;
}

.dashboards .header-left-ul li{
    padding-right: 31px;
    cursor: pointer;
}

.header-article .dashboards .header-left-ul :nth-child(3) {
    padding-right: 0px;
    padding-bottom: 7px;
    color: black;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.box {
    margin-top: 40px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-color: rgb(211, 238, 255);
}

.create-model {
    display: flex;
    color: rgb(83, 173, 182);
    font-weight: bold;
}

.create-model span{
    margin-top: 40px;
    padding-right: 30px;
    cursor: pointer;
}

.container-article{
    max-height: 75%;
    margin-left: 40px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.container-item{
    cursor: pointer;
    width: 153px;
    height: 185px;
    margin-right: 40px;
    margin-top: 40px;
    background: white;
    background:linear-gradient(225deg, transparent 12px, white 0);
    border: 1px ridge rgb(229, 229, 229);
}

.item-content{
    width: 122px;
    height: 100px;
    margin:20px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content span:nth-child(1){
    font-weight: bold;
}

.line-break{
    width: 100%;
    height: 0px;
}

.wrap-box{
    width: 18px;
    height: 18px;
    border: 1px ridge rgb(229, 229, 229);
    border-top:0px;
    border-right: 0px;
    background-color: white;
    position: relative;
    float: right;
    left:1px;
    bottom:1px;
}

.wrap-box:after{
    content:' ';
    height:1px;
    width:26px;
    background-color:rgb(229, 229, 229);
    position:absolute;
    left:-4px;
    top:9px;
    transform: rotate(45deg);
}


.activity{
    height: 90%;
    max-height: 100%;
    margin-top: 40px;
    margin-left: 20px;
}

.activity-list-style-box{
    float:left;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    background-color: rgb(125,125,125);
}

.activity-items{
    list-style: none;
    padding-left: 0px;
}


.activity-items p {
    font-weight: bold;
    margin: 0;
    margin-top: 35px;
}

.activity-list-style{
    margin-right: 10px;
    margin-bottom: 50px;
    float: left;
    height: 20px;
    width: 20px;
    background-color: rgb(125,125,125);
}

.activity-time{
    margin-right: 20px;
    float:right;
    font-size: 10px;
    color:rgb(165,165,165);
}

.circle-plus{
    float: right;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 132, 255);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    margin-left: 6px;
}

.for-scroll{
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}


