html{
    height: 100%;
    background-color: rgb(240,244,247);
}

body{
    background-color: rgb(240,244,247);
    height:93%;
    max-height: 100%;
    min-width: 575px;
}

.border-less li {
    cursor: pointer;
    border: 0;
}

.nav-group li{
    padding: 12px 60px;
}

.icon-language:before{
    content: url("united-kingdom.png");
}

.wrapper{
    width: 1500px;
    margin: 40px auto;
}

.reports{
    float: right;
    background-color: rgb(193,208,221);
    padding: 20px 25px;
}

.result-journal{
    max-width: 30%;
    position: relative;
    float: right;
    bottom:340px;
    right: 10px;
}

.drop-files{
    width: 450px;
    margin: 10px auto;
    text-align: center;
}
.drop-files div{
    height: 100px;
    width: 100%;
    background-color: rgb(225,225,225);
    padding: 32px;
    text-align: center;
    border: 2px dashed rgb(199,199,199);
}
.drop-files button{
    border: 1px solid rgb(199,199,199);
    padding-right: 40px;
    padding-left: 40px;
}
.table-i{
    cursor: pointer;
}

.select-border{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
